* {
    font-family: Arial;
	text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body {
    background-image: url(img/background_img.jpg);
    background-size: cover;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px; /* Agrega bordes redondeados a la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}


img {
    display: block;
    width: 100%;
    height: auto;

}
.image-container:hover img {
    filter: blur(0px); /* Reduce el desenfoque en el hover */
}
h1 {
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}
input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}
form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
input[type='submit']{
	background-color: #48e;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
button:hover {
    background-color: #0056b3;
}
.register-link{
    display: inline-block;
    padding: 7px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.register-link:hover{
    background-color: #236927;
}
.login-link{
    display: inline-block;
    padding: 7px 20px;
    background-color: #48e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.loginlink:hover{
    background-color: rgb(35, 75, 134);
}
.admin-panel{
    text-align: right;
    padding: 10px 20px;
}